button a {
  text-decoration: none;
  color: inherit;
}
main {
  color: white;
  background-color: #000;
  min-height: 100vh;
  /* z-index: -2; */
  /* overflow: hidden !important; */
}
#internship-welcome-page .hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#internship-welcome-page .hero-section h1,
#internship-welcome-page .call-to-action h2,
#internship-apply-page h2,
#internship-status-page h2,
#internship-applicants-page h2 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.2px;
  background: linear-gradient(to right, #11ab44 0%, #ceff2b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#internship-welcome-page .hero-section p {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #ebf1ffeb;
}
#internship-welcome-page .header h3 {
  font-weight: 500;
  color: #4eca78;
}

#internship-welcome-page .intern-card {
  background: linear-gradient(
    180deg,
    rgba(151, 164, 190, 0.16) 0%,
    rgba(93, 105, 128, 0.16) 24%,
    rgba(93, 105, 128, 0.16) 100%
  );
  padding: 25px 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  max-width: 400px;
}
#internship-welcome-page button,
.cloud-background button {
  background-color: #25a75b;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#internship-welcome-page button:hover,
.cloud-background button:hover {
  background-color: #4eca78;
  border: none;
  color: white;
}
/* --------------------------------------- */
#internship-apply-page,
#internship-status-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}
.cloud-background {
  background: linear-gradient(
    180deg,
    rgba(151, 164, 190, 0.16) 0%,
    rgba(93, 105, 128, 0.16) 24%,
    rgba(93, 105, 128, 0.16) 100%
  );
  padding: 25px 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 50%;
}
@media (max-width: 992px) {
  .cloud-background {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .cloud-background {
    width: 90%;
  }
}
#internship-apply-page input:not([type="checkbox"]),
#internship-applicants-page input,
#internship-apply-page select,
#internship-apply-page textarea,
#internship-applicants-page textarea,
select > option {
  background: #202326;
  border-color: #202326;
  color: white;
}
#internship-apply-page input:focus,
#internship-applicants-page input:focus,
select:focus,
#internship-apply-page textarea:focus,
#internship-applicants-page textarea:focus,
select > option:focus {
  outline: none;
  box-shadow: none;
  border-color: white;
}
#internship-apply-page .form-check-input,
#internship-apply-page .form-check-input:focus {
  background-color: #202326;
  box-shadow: none;
  border-color: #b6becf40;
}
#internship-apply-page .form-check-input:checked {
  background-color: #25a75b;
  border-color: #25a75b;
}
#internship-apply-page .file-attachment {
  border-style: dotted;
  border-color: #b6becf40;
}
#internship-apply-page button {
  padding: 10px 50px;
}
#internship-apply-page ::placeholder,
#internship-applicants-page ::placeholder {
  color: #b6becf40;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#internship-apply-page ::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #b6becf40;
}
/* ----------------------------------------- */
.Pending,
.pending {
  color: #ceff2b;
  text-transform: uppercase;
}
.Rejected,
.rejected {
  color: #ff0000;
  text-transform: uppercase;
}
.Approved,
.approved,
.accepted,
.Accepted {
  color: #00ff00;
  text-transform: uppercase;
}
/* ----------------------------------------- */
#internship-applicants-page button.btn-success {
  background-color: #198754;
}
#internship-applicants-page button.btn-success:hover {
  background-color: #157347;
}
#internship-applicants-page button.btn-danger {
  background-color: #dc3545;
}
#internship-applicants-page button.btn-danger:hover {
  background-color: #bb2d3b;
}
#internship-applicants-page #internship-applicants .cloud-background {
  width: 32%;
}
#internship-applicants-page strong {
  color: #ccc;
}

@media (max-width: 992px) {
  #internship-applicants-page #internship-applicants .cloud-background {
    width: 48%;
  }
}
@media (max-width: 768px) {
  #internship-applicants-page #internship-applicants .cloud-background {
    width: 100%;
  }
}
